/**
 * mail.css
 **/

/**********************************************************************************************************************
 * views                                                                                                              *
 **********************************************************************************************************************/
.mail-confirmation {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    margin: 0 0 10px; padding: 0;
}

.mail-html-body {
    background-color: #f6f6f6;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    height: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100% !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

.mail-html-table {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.mail-html-table1 {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mail-html-table2 {
    clear: both !important;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mail-html-table-content {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.mail-html-table-content-center {
    text-align: center;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.mail-html-table-content-container {
    background-color: #FFFFFF;
    border: 1px solid #f0f0f0;
    clear: both !important;
    display: block !important;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    max-width: 600px !important;
    padding: 0;
}

.mail-html-table-content-container1 {
    clear: both !important;
    display: block !important;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    max-width: 600px !important;
    margin: 0 auto;
    padding: 0;
}

.mail-html-div-content {
    display: block;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.mail-html-p-content {
    color: #666;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6;
    margin: 0 0 10px;
    padding: 0;
}

.mail-new_password {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}

.mail-reconfirmation {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}

.mail-recovery {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}

.mail-welcome {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}
